<meta charset="UTF-8">
<title>Scarlet</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
    }

    .navbar{
        background-color:lightgoldenrodyellow;
    }

    .nav-link{
        font-size: 1rem;
        font-weight: bold;
    }

    .nav-link:hover{
        background-color:lightsalmon;
    }

    .contact{
        display: flex;
        justify-content: center;
    }
</style>