<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/navbar'); %>
    </header>
    <main>
        <div>
            <img src="https://s3.envato.com/files/246704841/preview.jpg" alt="office-image" style="width:100%;"><br><br>
            <h1 style=" font-weight: bolder; font-size: 3rem; display: flex; justify-content: center; align-items: center;">Our Story</h1> <br> <br>
            <p>Like all good things, the idea of Scarlet was born out of necessity. When you need help with small but important household chores, isn't it practically impossible to find trusted providers, who deliver consistently impeccable service, on time? Yes, that happened with us too. All the time. After trying dozens of other services which were just glorified directories, we decided to build Scarlet. Scarlet is the most convenient and hassle free way to get your household work done. With handcrafted mobile solutions, unmatched service quality, and background verified providers who are always willing to lend a hand, we aim to aid in solving all your household problems with efficiency, ease and most importantly, a personal touch.</p>

            <p>We are here to build the best on-demand services company in the world.</p>
                
             <p style="color: lightseagreen; font-weight: bolder; font-size: larger;">And now, we simply can't wait to be of help to you.</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>