<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main>
        <div class="jumbotron" style="background-color: lemonchiffon;">
            <h1 class="contact">Contact US</h1>
            <br />
            <br>
            <img src="https://www.disabled-world.com/pics/1/contact-us.png" height="100px" alt="mail-icon-image">
            <br />
            <a href="#" style="color: royalblue; font-size: large; font-weight: bold">support@scarlet.in</a>
            <br />
            <br />
            <br />
            <div style="font-weight: bolder; color: gray;">
                <p>BDA Layout, 1307/1,</p>
                <p>24th Main Road,Garden Layout,</p>
                <p>Sector 2, HSR Layout,</p>
                <p>Bangalore - 560102</p>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>